* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg,rgb(47, 114, 30), #2a5298);
    color: white;
}

.container {
    background: rgba(255, 255, 255, 0.1);
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 350px;
    backdrop-filter: blur(10px);
}

h2 {
    margin-bottom: 20px;
    font-size: 1.5rem;
}

input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: none;
    border-radius: 8px;
    outline: none;
    font-size: 1rem;
}

button {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.btn-login {
    background: #ff6b6b;
    color: white;
}

.btn-login:hover {
    background: #ff3b3b;
}

.btn-cadastrar {
    background: #1dd1a1;
    color: white;
}

.btn-cadastrar:hover {
    background: #10ac84;
}

#mensagem {
    margin-top: 15px;
    font-size: 0.9rem;
}
